.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: darkcyan;
  border-radius: 4px;
  overflow: hidden;
  height: 300px;
  .title {
    padding: 10px;
  }
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  height: 160px;
}
