.block {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  button {
    padding: 5px;
    border-radius: 8px;
    border: none;
    background: darkcyan;
    cursor: pointer;
  }

  /*  nav {
    display: flex;
    justify-content: center;
    ul {
      background: darkcyan;
      padding: 10px;
      border-radius: 8px;
      color: white;
      li {
        color: white;
      }
    }
  }*/
}
